<!-- <div class="row">
  <div class="col-md-12 mt-1">
    <div class="text-center">
      <ngb-carousel interval="3000">
        <ng-template ngbSlide *ngFor="let img of crousalImages">
          <div class="picsum-img-wrapper">
            <img src="{{img.url}}" alt="{{img.caption}}">
          </div>
          <div class="carousel-caption">
            <h3>{{img.caption}}</h3>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div> -->

<ul class="list-group list-group-flush">
  <li class="list-group-item" *ngFor="let img of crousalImages">
    <h3>{{img?.caption}}</h3>
    <img src="{{img?.url}}" alt="{{img?.caption}}">
    <p>{{img?.description}}</p>
  </li>
</ul>
